.clover/
target/
.project
.classpath
.settings/
.idea/
.patch
*.iml
*.ipr
*.iws
.DS_Store
reports/
.directory
benchmarks/results.json
atlassian-ide-plugin.xml
hazelcast-ra/*.log
hazelcast-ra/*.epoch

